* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: arial;
}
body {
  color: white;
}
.wrapper {
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
  height: calc(100% - 90px);
}
.main_nav {
  width: 250px;
  height: 100%;
  background-color: black;
  min-height: 480px;
}
.nav_top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 90px);
  overflow: hidden;
}
.logo_container {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
}
img {
  width: 80%;
  height: 50px;
}
.nav_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
}
.nav_list li {
  display: flex;
  height: 40px;
  text-decoration: none;
  padding: 5px 20px;
  align-items: center;
  color: lightgray;
  opacity: 0.7;
  cursor:pointer;
}
.nav_list li:hover {
  border-left: 4px solid #ADFF2F;
  color: white;
  opacity: 1;
}
.nav_list li i {
  font-size: 25px;
}
.nav_list span {
  padding-left: 10px;
  font-weight: bolder;
}

.playlist {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding-left: 20px;
  padding-top: 30px;
  flex-shrink: 0;
  overflow: hidden;
}
.playlist h4 {
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
  color: white;
  padding-bottom: 10px;
}
.new_playlist {
  display: flex;
  padding-bottom: 15px;
}
.add_playlist_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: lightgray;
  cursor:pointer;
}
.add_playlist_btn i {
  font-size: 20px;
  color: black;
}
.new_playlist h5 {
  align-self: center;
  padding-left: 10px;
  font-size: 16px;
  color: lightgray;
  opacity: 0.7;
  cursor:pointer;
}
.new_playlist h5:hover {
  color: white;
  opacity: 1;
}
.list_playlist {
  height: 60%;
  overflow-y: auto;
}
.list_playlist li {
  display: flex;
  text-decoration: none;
  padding: 10px 0;
  align-items: center;
  color: lightgray;
  opacity: 0.7;
  cursor:pointer;
  font-weight: bolder;
}
.list_playlist li:hover {
  color: white;
  opacity: 1;
}
.nav_bottom {
  width: 100%;
  height: 90px;
  padding-bottom: 18px;
}
.app_download {
  width: 82%;
  height: 30px;
  display: flex;
  margin-left: 20px;
  border-bottom: 1px solid white;
  cursor:pointer;
}
.app_download i {
  font-size: 15px;
}
.app_download h4 {
  font-size: 15px;
  padding-left: 10px;
}

.user_name {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  margin-left: 20px;
  padding-top: 25px;
  cursor:pointer;
}
.user_name i {
  font-size: 30px;
}
.user_name h4 {
  padding-left: 10px;
}


.main_content {
  width: calc(100% - 25px);
  height: 100%;
  background-color: #141922;
  overflow-y: auto;
}
.upgrade_btn {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: 80px;
  padding: 10px;
  flex-direction: row-reverse;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.btn_upgrade {
  width: 200px;
  height: 40px;
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  font-weight: bolder;
}

footer {
  width: 100%;
  height: 90px;
  background-color: #282828;
}
