* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: arial;
}
body {
  color: white;
}
.wrapper {
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
  height: calc(100% - 90px);
}
.main_nav {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  background-color: black;
}
.logo_container {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
}
img {
  width: 80%;
  height: 50px;
}
.nav_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
}
.nav_list li {
  display: flex;
  height: 40px;
  text-decoration: none;
  padding: 5px 20px;
  align-items: center;
  color: lightgray;
  opacity: 0.7;
  cursor:pointer;
}
.nav_list li:hover {
  border-left: 4px solid #ADFF2F;
  color: white;
  opacity: 1;
}
.nav_list li i {
  font-size: 25px;
}
.nav_list span {
  padding-left: 10px;
  font-weight: bolder;
}

.playlist {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
  padding-left: 20px;
  padding-top: 30px;
}
.playlist h4 {
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
  color: white;
  padding-bottom: 10px;
}
.new_playlist {
  display: flex;
  padding-bottom: 15px;
}
.add_playlist_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: lightgray;
  cursor:pointer;
}
.add_playlist_btn i {
  font-size: 20px;
  color: black;
}
.new_playlist h5 {
  align-self: center;
  padding-left: 10px;
  font-size: 16px;
  color: lightgray;
  opacity: 0.7;
  cursor:pointer;
}
.new_playlist h5:hover {
  color: white;
  opacity: 1;
}
.playlist li {
  display: flex;
  text-decoration: none;
  padding: 10px 0;
  align-items: center;
  color: lightgray;
  opacity: 0.7;
  cursor:pointer;
  font-weight: bolder;
}
.playlist li:hover {
  color: white;
  opacity: 1;
}
.nav_bottom {
  align-items: flex-end;
}
.app_download {
  display: flex;
  padding-left: 15px;
}

.main_content {
  width: calc(100% - 25px);
  height: 100%;
  background-color: #141922;
}
.upgrade_btn {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 10px;
  flex-direction: row-reverse;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.btn_upgrade {
  width: 200px;
  height: 40px;
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  font-weight: bolder;
}

footer {
  width: 100%;
  height: 90px;
  background-color: #282828;
}
